.scriptBanner {
    font-size: 1.3em;
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 0.7em;
    padding: 1em;
    background: #000a;
}
