@use "sass:string";
$themehue: 275deg;

@function css-function( $function, $values... ) {
	@return
		$function
		+ string.unquote( '(' )
		+ $values
		+ string.unquote( ')' )
	;
}

@function css-min( $values... ) {
	@return css-function( min, $values );
}

@function css-max( $values... ) {
	@return css-function( max, $values );
}

@function css-clamp( $values... ) {
	@return css-function( clamp, $values );
}

$codeBG: #4d4d4d52;

$navbar-content-height: 3.5rem;
$navbar-vertical-padding: .3rem;
$navbar-height-total: $navbar-content-height + (2 * $navbar-vertical-padding);
