.functions, .events, .propertyGroups, .propertyGroups {
    display: flex;
    flex-direction: column;
    margin-top: 0.8em;
    gap: 1em;
    padding-left: 0;

    > li {
        list-style: none;
    }
}

.propertyGroups {
    gap: 0.33em;
}

.inheritanceTree {
    max-width: 100%;
    overflow-x: auto;
}

.scriptHeader > h1 {
    > span {
        font-size: 0.5em;
        opacity: 0.95;
        &:first-child { margin-right: 0.22em; }
        &:last-child { margin-left: 0.22em; }
    }
}

.scriptPage {
    h2 {
        display: contents;
        font-size: 1.5em;
        line-height: 1.9;
        margin-bottom: 0.25em;
    }
    details {
        margin-bottom: 1em;
    }
}
